~/Biologia/Codes/counts/Scripts/cv_results
~/Biologia/Codes/counts/acyroltosyphon_counts.txt
~/Biologia/Codes/counts/harpegrathos_counts.txt
~/Biologia/Codes/counts/tribolium_counts.txt
~/Biologia/Codes/counts/bombix_counts.txt
~/Biologia/Codes/counts/locusta_counts.txt
~/Biologia/Codes/counts/stickleback_counts.txt
~/Biologia/Codes/counts/whaleshark_counts.txt
~/Biologia/Codes/counts/Cod_counts.txt
~/Biologia/Codes/counts/salmon_counts.txt
~/Biologia/Codes/counts/tilapia_counts.txt
