Codes/counts/Scripts/cv_results
Codes/counts/acyroltosyphon_counts.txt
Codes/counts/harpegrathos_counts.txt
Codes/counts/tribolium_counts.txt
Codes/counts/bombix_counts.txt
Codes/counts/locusta_counts.txt
Codes/counts/stickleback_counts.txt
Codes/counts/whaleshark_counts.txt
Codes/counts/Cod_counts.txt
Codes/counts/salmon_counts.txt
Codes/counts/tilapia_counts.txt
Codes/counts/counts_200bp/
results/nn/
Data/

